@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

body {
  @apply h-screen relative;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert {
  position: relative;
}